  <div class="col-md-6">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Cadastrar Usuário</h3>
      </div>
      <form class="form-horizontal" #form="ngForm" (ngSubmit)="cadastrar()">
        <div [ngClass]="classCss" role="alert" *ngIf="mensagem">
          <strong> {{ mensagem }} </strong>
        </div>
        <div class="box-body">
          <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input 
                id="inputEmail" 
                type="email" 
                class="form-control" 
                [(ngModel)]="usuario.email" 
                name="email" 
                #email="ngModel" 
                placeholder="Email"
                email>
              <span class="help-block" *ngIf="email.invalid && email.dirty">Email é inválido</span>
            </div>
          </div>
          <div [ngClass]="getFromGroupClass(senha.invalid, senha.dirty)">
            <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
            <div class="col-sm-10">
              <input 
                id="inputSenha" 
                type="password" 
                class="form-control" 
                [(ngModel)]="usuario.senha" 
                name="senha" 
                #senha="ngModel" 
                placeholder="Senha"
                required>
              <span class="help-block" *ngIf="senha.invalid && senha.dirty">Senha é obrigatório</span>
            </div>
          </div>
          <div [ngClass]="getFromGroupClass(perfil.invalid, perfil.dirty)">
              <label for="selectPerfil" class="col-sm-2 control-label">Perfil</label>
              <div class="col-sm-10">
                <select 
                  id="selectPerfil" 
                  type="password" 
                  class="form-control select2" 
                  [(ngModel)]="usuario.perfil" 
                  name="perfil" 
                  #perfil="ngModel" 
                  placeholder="Senha"
                  required>
                  <option [ngValue]="''">Selecione</option>
                  <option>ROLE_ADMIN</option>
                  <option>ROLE_TECNICO</option>
                  <option>ROLE_CLIENTE</option>
                </select>
                <span class="help-block" *ngIf="perfil.invalid && perfil.dirty">Senha é obrigatório</span>
              </div>
            </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info pull-right" [disabled]="!form.valid">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>