<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="compartilhado.usuario.perfil == 'ADMIN'">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['usuario/pesquisar']">
              <i class="fa fa-circle-o"></i> Listar</a>
          </li>
          <li>
            <a [routerLink]="['usuario/cadastrar']">
              <i class="fa fa-circle-o"></i> Novo Usuário</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-file-o"></i>
          <span>Tickets</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['ticket/pesquisar']">
              <i class="fa fa-circle-o"></i> Listar</a>
          </li>
          <li>
            <a [routerLink]="['ticket/cadastrar']">
              <i class="fa fa-circle-o"></i> Novo Ticket</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list-alt"></i>
          <span>Sumário</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="pages/forms/general.html">
              <i class="fa fa-circle-o"></i> Visualizar</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>